/* styles/searchProjectTreeView/viewport.css */

.searchProjectTreeView .searchProjectTreeViewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.searchProjectTreeView .searchProjectTreeCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  will-change: transform;
  transition: opacity 200ms ease;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeLine {
  stroke-width: 3;
  stroke: #333;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode {
  r: 12;
  stroke: #333;
  stroke-width: 3;
  cursor: pointer;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingComplete {
  fill: #b3f69f;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingPlanned {
  fill: #4a97ca;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingInProgress {
  fill: #e7f661;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingPaused {
  fill: #ffbb61;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingDelayed {
  fill: #e95e45;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingDead {
  fill: #111;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.targetNodeFlashRed {
  animation: targetNodeFlashRed 0.3s ease;
  animation-duration: alternate;
  animation-iteration-count: 3;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.targetNodeFlashGray {
  animation: targetNodeFlashGray 0.3s ease;
  animation-duration: alternate;
  animation-iteration-count: 3;
}

@keyframes targetNodeFlashGray {
  0% { 
    r: 12;
    stroke: #333;
    stroke-width: 3;
  }
  25% { 
    r: 14;
    stroke: #555;
    stroke-width: 6;
  }
  50% { 
    r: 16;
    stroke: #777;
    stroke-width: 8;
  }
  60% { 
    r: 18;
    stroke: #aaa;
    stroke-width: 11;
  }
  70% { 
    r: 22;
    stroke: #ccc;
    stroke-width: 15;
  }
  75% { 
    r: 28;
    stroke: #eee;
    stroke-width: 19;
  }
  100% { 
    r: 12;
    stroke: #fff;
    stroke-width: 3;
  }
}

@keyframes targetNodeFlashRed {
  0% { 
    r: 12;
    stroke: #dd1313;
    stroke-width: 3;
  }
  25% { 
    r: 14;
    stroke: #dd1313e1;
    stroke-width: 6;
  }
  50% { 
    r: 16;
    stroke: #dd1313c7;
    stroke-width: 8;
  }
  60% { 
    r: 18;
    stroke: #dd13139e;
    stroke-width: 11;
  }
  70% { 
    r: 22;
    stroke: #dd131367;
    stroke-width: 15;
  }
  75% { 
    r: 28;
    stroke: #dd131359;
    stroke-width: 19;
  }
  100% { 
    r: 12;
    stroke: #dd131311;
    stroke-width: 3;
  }
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.theVirtualRoot {
  r: 20;
  stroke-width: 3;
  fill: white;
  stroke-dasharray: 8 4; 
}