.newProjectButton {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 12em;
  padding: 0 1em;
  background-color: #fff;
  border: #ccc dashed 2px;
  border-radius: 0.5em;
}

.newProjectButton h1 {
  margin: 0;
  font-size: 1.2em;
  color: #777;
  transition: font-size 0.2s;
}

.newProjectButton .fa-folder {
  margin: 0 0.4em 0 0 ;
  color: #ddd;
}

.newProjectButton i.fa-plus { 
  margin: 0.2em 0 0 0 !important;
  font-size: 2.5em;
  color: #ccc;
  transition: font-size 0.2s;
}

/* On hover styles grouped */

.newProjectButton:hover {
  cursor: pointer;
}

.newProjectButton:hover h1 {
  margin: 0;
  font-size: 1.3em;
  transition: font-size 0.2s;
}

.newProjectButton:hover i.fa-plus { 
  font-size: 3em;
  transition: font-size 0.2s;
}

