/* Styles for Project Tiles, intended for project dashboard */

.projectTile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 12em;
  width: 12em;
  padding: 0 1em;
  background-color: #fff;
  border: #111 solid 1px;
  border-radius: 0.5em;
  transition: box-shadow 0.2s;
}

.projectTile:hover {
  cursor: pointer;
  box-shadow:     
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15);    
  transition: box-shadow 0.2s;
}

.projectTitle {
  display: block;
  width: 100%;
  height: 1em;
  margin: 0.5em 0;
  text-align: center;
  transition: font-size 0.2s, color 0.2s;
}

.projectTitle .fa-folder {
  margin: 0 0.4em 0 0;
}

.projectDescription {
  display: block;
  margin: 0 0 0.5em 0;
  height: fit-content;
  text-align: left;
  font-size: 0.95em;
  color: #666
}

/* Progress Bar styles: Includes text details */

.progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.progressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 6;
  width: 100%;
}

.progressBarBackground {
  display: block;
  width: 100%;
  height: 0.5em;
  background-color: #ddd;
  border-radius: 1em;
}

.progressBarFill {
  display: block;
  width: 75%;
  height: 100%;
  background-color: #444;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.progressBarDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 5;
  width: 100%;
}

.progressBarLabelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.progressBarLabel {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color:#aaa;
}

.projectBarPercentageWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectBarPercentage {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color:#111;
}

.taskQuantityWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.taskQuantity {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.8em; 
  font-style: italic;
  color:#888;
}

.projectStatusWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectStatusBubble {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0;
  font-size: 0.8em;
  color:#333;
  border-radius: 1em;
  background-color: #c1e9d0;
}

/* Project Actions styles: Includes dropdown menu */

.projectActionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 1em;
  margin: 0 0 0.5em 0;
}

.projectActions {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 2em;
  height: 100%;
  margin: 0.5em 0em;
  color: #666
}

.projectActions span {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.projectActions:hover span {
  background-color: #ddd;
  color: #fff;
  border-radius: 5px;
}

.projectActionsDropDown {
  position: absolute;
  top: 1em;
  right: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border: #111 solid 1px;
  border-radius: 0.6em;
}

.projectActions:hover .projectActionsDropDown {
  display: flex;
  z-index: 100;
}

.projectActionsDropDown button { 
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  font-size: 1.1em;
}

.projectActionsDropDown button:hover {
  background-color: #111;
  color: #fff;
}