/* Project Notes Tracking Styles */

.notesWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  height: 50%;
  width: 100%;
  background-color: #333;
  border-radius: 0.5em;
}

.notesWrapper h2 {
  display: block;
  width: 100%;
  padding: 0 0 0 0.5em;
  margin: 0.5em 0 0 0;
  color: #fff;
  font-size: 1.5em;
}