/* Project Notes Tracking Styles */

.notesWrapperLoadingBlock,
.notesWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  height: 50%;
  width: 100%;
  padding: 0 1em 1em 1em;
  background-color: #333;
  border-radius: 0.5em;
}

.notesWrapperLoadingBlock {
  animation: loadingFlash;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.notesWrapper .notesWrapperHeader {
  display: block;
  width: 100%;
  padding: 0 0 0 0.5em;
  margin: 0.5em 0 0 0;
  color: #fff;
  font-size: 1.5em;
}

.notesItems {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1; /* Growing Vertically */
  gap: 0.5em;
  height: calc(100% - 4em);
  width: 100%;
}

.noteLog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.3em;
  flex-grow: 4;
  height: 100%;
  overflow: auto;
}

.noteLog::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.noteLog .noteLogEntry {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 2.25em;
  flex-shrink: 0;
  gap: 0.25em;
  padding: 0em 0.5em;
  border-radius: 0.5em;
  background-color: #fff;
  width: 100%;
  overflow: scroll;
  opacity: 0.15;
  transition: opacity 0.3s;
}

.noteLog .noteLogEntry:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.noteLog .noteLogEntry::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.noteLog p.noteLogEntrySource {
  min-width: 1em;
  max-width: 6em;
  color: #777;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.noteLog .noteLogEntryNote {
  position: relative;
  overflow: hidden;
  min-width: 6em;
  height: 2.25em;
  width: 12em;
  background-color: #222;
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: default;
  white-space: nowrap;
}

.noteLog .noteLogEntryNote span {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  transform: translateX(0);
}

.noteLog .noteLogEntryNote:hover span {
  animation: scrollText var(--scroll-duration) linear forwards;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.noteLog p.noteLogEntryDate {
  width: 6.5em;
  min-width: 6.5em;
  text-align: right;
  font-style: italic;  
  white-space: nowrap;
  cursor: default;
}

.noteLog .noteLogEntryEdit,
.noteLog .noteLogEntryDelete {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  /* flex-grow: 1; */
  cursor: pointer;
}

.noteLog .noteLogEntryEdit .fa-pen,
.noteLog .noteLogEntryDelete .fa-trash {
  padding: 0.25em;
  color: #aaa;
  border-radius: 0.5em;
  transition: color 0.2s, background-color 0.2s;
}

.noteLog .noteLogEntryEdit:hover .fa-pen,
.noteLog .noteLogEntryDelete:hover .fa-trash {
  background-color: #333;
  color: #fff;
  transition: color 0.2s, background-color 0.2s;
}

.addNoteLogBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2.25em;
  width: 2.25em;
  padding: 0.5em;
  background-color: #333;
  border: #fff 1px solid;
  border-radius: 0.5em;
  transition: background-color 0.2s;
}

.addNoteLogBtn .fa-plus {
  display: block;
  margin: 0 0 0.1em 0;
  color: #fff;
  font-size: 1.5em;
  transition: color 0.2s;
}

.addNoteLogBtn:focus,
.addNoteLogBtn:hover {
  background-color: #fff;
  transition: color 0.2s;
  cursor: pointer;
}

.addNoteLogBtn:focus .fa-plus,
.addNoteLogBtn:hover .fa-plus {
  color: #333;
  transition: color 0.2s;
}

.addNoteLogBtn:focus-visible {
  outline: none;
}