.projectView {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 10vw;
  transform: translateY(-105%);
  height: 90vh;
  width: 80vw;
  border: #111 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 
    0 0 3.5em 3.5em rgba(255, 255, 255, 0.95),  
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15);          
  transition: transform 0.5s ease;
  z-index: 10;
}

@media (max-width: 1200px) {
  .projectView {
    width: 95vw;
    left: 2.5vw;
  }
}

.projectView.active {
  transform: translateY(5%);
}

.projectView .bottomPanel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  width: 100%;
  height: 100%;
  padding: 0 1em 1em 1em;
}

.projectView .bottomPanelLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  /* width: calc(50% - 1.5em); */
  height: 100%;
}

.projectView .bottomPanelRight {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 0.5em;
  height: 100%;
}