/* Project Time Tracking Styles */

.timeWrapperLoadingBlock,
.timeWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  height: 50%;
  width: 100%;
  padding: 0 1em 1em 1em;
  background-color: #333;
  border-radius: 0.5em;
}

.timeWrapperLoadingBlock {
  animation: loadingFlash;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loadingFlash {
  from {
    color: #333;
    background-color: rgba(91, 217, 208, 0.95);
  }
  to {
    color: rgba(161, 246, 240, 0.9);
    background-color: #333;
  }
}

.timeWrapper .timeWrapperHeader {
  display: block;
  width: 100%;
  padding: 0 0 0 0.5em;
  margin: 0.5em 0 0 0;
  color: #fff;
  font-size: 1.5em;
}

.timeItems {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1; /* Growing Vertically */
  gap: 0.5em;
  height: calc(100% - 4em);
  width: 100%;
}

.totalTimeDisplay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 7em;
  background-color: #555;
  border-radius: 0.5em;
}

.totalTimeDisplay .totalTimeHours,
.totalTimeDisplay .totalTimeMinutes {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 0 0 1em;
}

.totalTimeDisplay .totalTimeDigit {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

.totalTimeDisplay .totalTimeUnits {
  margin: 0 0.5em;
  color: #fff;
  font-weight: regular;
  font-size: 1.5em;
}

.timeLog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.35em;
  flex-grow: 4;
  height: 100%;
  overflow: scroll;
}

.timeLog::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.timeLog .timeLogEntry {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25em;
  padding: 0em 0.5em;
  flex-shrink: 0;
  height: 2.25em;
  width: 100%;
  border-radius: 0.5em;
  background-color: #777;
  overflow: scroll;
  opacity: 0.15;
  transition: opacity 0.3s;
}

.timeLog .timeLogEntry:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
}

.timeLog .timeLogEntry::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.timeLog .timeLogEntry p {
  color: #111;
}

.timeLog p.timeLogEntrySource {
  min-width: 1em;
  color: #ddd;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

.timeLog .timeLogEntryTime {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: default;
}

.timeLog .timeLogEntryDate {
  width: 6.5em;
  min-width: 6.5em;
  text-align: right;
  font-style: italic;  
  white-space: nowrap;
  cursor: default;
}

.timeLog p.timeLogEntryDate {
  color: #ccc;
}

.timeLog .timeLogEntryEdit,
.timeLog .timeLogEntryDelete {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  cursor: pointer;
}

.timeLog .timeLogEntryEdit .fa-pen,
.timeLog .timeLogEntryDelete .fa-trash {
  padding: 0.25em;
  color: #eee;
  border-radius: 0.5em;
  transition: color 0.2s, background-color 0.2s;
}

.timeLog .timeLogEntryEdit:hover .fa-pen,
.timeLog .timeLogEntryDelete:hover .fa-trash {
  background-color: #222;
  color: #fff;
  transition: color 0.2s, background-color 0.2s;
}

.addTimeLogBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2.25em;
  width: 2.25em;
  padding: 0.5em;
  background-color: #333;
  border: #fff 1px solid;
  border-radius: 0.5em;
  transition: background-color 0.2s;
}

.addTimeLogBtn .fa-plus {
  display: block;
  margin: 0 0 0.1em 0;
  color: #fff;
  font-size: 1.5em;
  transition: color 0.2s;
}

.addTimeLogBtn:focus, 
.addTimeLogBtn:hover {
  background-color: #fff;
  transition: color 0.2s;
  cursor: pointer;
}

.addTimeLogBtn:focus .fa-plus,
.addTimeLogBtn:hover .fa-plus {
  color: #333;
  transition: color 0.2s;
}

.addTimeLogBtn:focus-visible {
  outline: none;
}