/* Progress Bar styles: Includes text details */

.projectView .progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2em);
  height: 7.5em;
  margin: 1em 0 1em 0;
  padding: 0 2em 0 2em;
  background-color: #333;
  border-radius: 0.5em;
}

.projectView .progressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 100%;
}

.projectView .progressBarBackground {
  display: block;
  width: 100%;
  height: 0.7em;
  background-color: #fff;
  border-radius: 1em;
}

.projectView .progressBarFill {
  display: block;
  width: 45%;
  height: 100%;
  background-color: #999;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.projectView .progressBarDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 100%;
}

.projectView .progressBarLabelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.projectView .progressBarLabel {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  color:#fff;
}

.projectView .projectBarPercentageWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectView .projectBarPercentage {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  color:#fff;
}

.projectView .taskQuantityWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.projectView .taskQuantity {
  display: inline-block;
  padding: 0 0 1.1em 0;
  font-size: 0.9em;
  font-weight: bold; 
  font-style: italic;
  color:#fff;
}

.projectView .projectStatusWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectView .projectStatusBubble {
  position: relative;
  display: inline-block;
  padding: 0.3em 0.6em;
  margin: 0;
  font-size: 0.9em;
  color: #333;
  text-align: center;
  border-radius: 1em;
  border: #eee solid 2px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.1s;
}

.projectView .projectStatusBubble:hover {
  animation: rotateWiggle 0.5s ease-in-out;
}

/* Rotate wiggle animation */
@keyframes rotateWiggle {
  0%   { transform: rotate(0deg); }
  20%  { transform: rotate(-3deg); }
  40%  { transform: rotate(3deg); }
  60%  { transform: rotate(-2deg); }
  80%  { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}

.projectView .projectStatusBubble.statusShowingComplete {
  background-color: #b3f69f;
}

.projectView .projectStatusBubble.statusShowingPlanned {
  background-color: #4a97ca;
}

.projectView p.projectStatusBubble.statusShowingPlanned {
  color: #fff;
}

.projectView .projectStatusBubble.statusShowingInProgress {
  background-color: #e7f661;
}

.projectView .projectStatusBubble.statusShowingPaused {
  background-color: #ffbb61;
}

.projectView .projectStatusBubble.statusShowingDelayed {
  background-color: #e95e45;
}

.projectView .projectStatusBubble.statusShowingDead {
  background-color: #111;
}

.projectView p.projectStatusBubble.statusShowingDead {
  color: #fff;
}

.updateStatusList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  top: 2.25em;
  right: -0.5em;
  padding: 0.5em 0.25em;
  background-color: #333;
  border-radius: 0.5em;
  box-shadow: 
  0 0.125em 0.375em rgba(255, 255, 255, 0.2),         
  0 0.25em 0.75em rgba(255, 255, 255, 0.35); 
  z-index: 100;
}

.updateStatusList.hidden {
  display: none;
}