/* Progress Bar styles: Includes text details */

.projectView .progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2em);
  height: 7.5em;
  margin: 1em 0 1em 0;
  padding: 0 2em 0 2em;
  background-color: #333;
  border-radius: 0.5em;
}

.projectView .progressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 100%;
}

.projectView .progressBarBackground {
  display: block;
  width: 100%;
  height: 0.7em;
  background-color: #fff;
  border-radius: 1em;
}

.projectView .progressBarFill {
  display: block;
  width: 45%;
  height: 100%;
  background-color: #999;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.projectView .progressBarDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 100%;
}

.projectView .progressBarLabelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.projectView .progressBarLabel {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  color:#fff;
}

.projectView .projectBarPercentageWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectView .projectBarPercentage {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  color:#fff;
}

.projectView .taskQuantityWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.projectView .taskQuantity {
  display: inline-block;
  padding: 0 0 1.1em 0;
  font-size: 0.9em;
  font-weight: bold; 
  font-style: italic;
  color:#fff;
}

.projectView .projectStatusWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectView .projectStatusBubble {
  display: inline-block;
  padding: 0.3em 0.6em;
  margin: 0;
  font-size: 0.9em;
  color:#333;
  border-radius: 1em;
  border: #eee solid 2px;
}

.projectView .projectStatusBubble.statusShowingComplete {
  background-color: #76e255;
}

.projectView .projectStatusBubble.statusShowingPlanned {
  background-color: #4a97ca;
}

.projectView p.projectStatusBubble.statusShowingPlanned {
  color: #fff;
}

.projectView .projectStatusBubble.statusShowingInProgress {
  background-color: #dcee37;
}

.projectView .projectStatusBubble.statusShowingPaused {
  background-color: #ee9f37;
}

.projectView .projectStatusBubble.statusShowingDelayed {
  background-color: #ee4426;
}

.projectView .projectStatusBubble.statusShowingDead {
  background-color: #111;
}

.projectView p.projectStatusBubble.statusShowingDead {
  color: #fff;
}