#projectView {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 10vw;
  transform: translateY(-105%);
  height: 90vh;
  width: 80vw;
  border: #111 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 
    0 0 2.5em 1.25em rgba(255, 255, 255, 0.95),  
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15);          
  transition: transform 0.5s ease;
  z-index: 10;
}

#projectView.active {
  transform: translateY(5%);
}

/* #homeViewTitle {
  display: block;
  width: 100%;
  height: 1em;
  margin: 0.5em 0; 
  font-size: 1.5em;  
  text-align: left;
}

hr {
  width: 100%;
  margin: 0 0 0.5em 0;
  border: #111 dotted 1px;
}

#homeViewProjectsWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 1em;
  height: calc(100% - 1em);
  width: 100%;
  padding: 1em 1em 0 1em;
  overflow: auto;
} */