.projectView {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 10vw;
  transform: translateY(-105%);
  height: 90vh;
  width: 80vw;
  border: #111 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 
    0 0 3.5em 3.5em rgba(255, 255, 255, 0.95),  
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15);          
  transition: transform 0.5s ease;
  z-index: 10;
}

.projectView.active {
  transform: translateY(5%);
}

.projectView .titleBarWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100% - 4em);
}

.projectView .titleTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% - 4em);
}

.projectView .projectTitle {
  display: block;
  width: 100%;
  height: 1em;
  margin: 1em 0 0.25em 0;
  font-size: 1.5em;
  text-align: left;
  transition: font-size 0.2s, color 0.2s;
}

.projectView .projectTitle .fa-folder {
  margin: 0 0.4em 0 0;
}

.projectView .projectDescription {
  display: block;
  margin: 0 0 0.5em 0;
  height: fit-content;
  text-align: left;
  font-size: 0.95em;
  color: #666;
}

/* Project Actions styles: Includes dropdown menu */

.projectView .projectActionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 1em;
  margin: 0 0 0 0;
}

.projectView .projectActions {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 2em;
  height: 100%;
  margin: 0.5em 0em;
  color: #333;
}

.projectView .projectActions span {
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.projectView .projectActionsDropDown {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border: #111 solid 1px;
  border-radius: 0.6em;
}

.projectView .projectActionsDropDown i {
  cursor: pointer;
}

.projectView .projectActions:hover .projectActionsDropDown {
  display: flex;
  z-index: 100;
}

.projectView .projectActionsDropDown button { 
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  font-size: 1.1em;
}

.projectView .projectActionsDropDown button:hover {
  background-color: #111;
  color: #fff;
}

/* Progress Bar styles: Includes text details */

.projectView .progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2em);
  height: 6.75em;
  margin: 1em 0 1em 0;
  padding: 0 2em 0 2em;
  background-color: #333;
  border-radius: 0.5em;
}

.projectView .progressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 100%;
}

.projectView .progressBarBackground {
  display: block;
  width: 100%;
  height: 0.7em;
  background-color: #fff;
  border-radius: 1em;
}

.projectView .progressBarFill {
  display: block;
  width: 45%;
  height: 100%;
  background-color: #999;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.projectView .progressBarDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2em;
  /* flex-grow: 5; */
  width: 100%;
}

.projectView .progressBarLabelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.projectView .progressBarLabel {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  color:#fff;
}

.projectView .projectBarPercentageWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectView .projectBarPercentage {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  font-weight: bold;
  color:#fff;
}

.projectView .taskQuantityWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.projectView .taskQuantity {
  display: inline-block;
  padding: 0 0 1.1em 0;
  font-size: 0.9em;
  font-weight: bold; 
  font-style: italic;
  color:#fff;
}

.projectView .projectStatusWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectView .projectStatusBubble {
  display: inline-block;
  padding: 0.3em 0.6em;
  margin: 0;
  font-size: 0.9em;
  color:#333;
  border-radius: 1em;
  background-color: #c1e9d0;
  border: #eee solid 2px;
}

/* Tasks styles */

.tasksWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  flex-grow: 1;
  width: calc(100% - 2em);
}

.tasksWrapper h2 {
  display: block;
  width: 100%;
  padding: 0 0 0 0.5em;
  color: #999;
  font-size: 1.5em;
}

.newTaskBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 100%;
  padding: 0 1em;
  background-color: #fff;
  border: #ccc dashed 2px;
  border-radius: 0.5em;
}

.newTaskBtn h1 {
  margin: 0;
  font-size: 1.2em;
  color: #777;
  transition: font-size 0.2s;
}

.newTaskBtn .fa-folder {
  margin: 0 0.4em 0 0 ;
  color: #ddd;
}

.newTaskBtn i.fa-plus { 
  margin: 0 0 0 1em;
  font-size: 2.5em;
  color: #ccc;
  transition: font-size 0.2s;
}

.newTaskBtn:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.newTaskBtn:hover h1 {
  margin: 0;
  font-size: 1.4em;
  transition: font-size 0.2s;
}

.newTaskBtn:hover i.fa-plus { 
  font-size: 3em;
  transition: font-size 0.2s;
}

.projectView .task {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5em;
  height: 4em;
  width: 100%;
  padding: 0 1em;
  background-color: #fff;
  border: #111 solid 1px;
  border-radius: 0.5em;
}

.projectView .task:hover {
  box-shadow: 
  0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
  0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
}

.projectView .task .fa-rectangle-list {
  margin: 0 0 0 0;
}

.projectView .task h3 {
  
}

.projectView .task .taskStatusBubble {
  display: inline-block;
  padding: 0.3em 0.6em;
  font-size: 0.8em;
  color:#333;
  border-radius: 1em;
  background-color: #fff177f6;
  border: #333 solid 1px;
}
