/* styles/searchProjectTreeView/header/projectTreeSearch.css */

.searchProjectTreeHeader .searchBarWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  border: #333 solid 1px;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0);
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput {
  position: relative;
  margin: 0em 0em 0em 0em;
  height: 2.25em;
  width: 22em;
  text-indent: 1em;
  font-size: 1.1em;
  border: none;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: #fff;
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput:focus, 
.searchProjectTreeHeader .searchBarWrapper .searchBarInput:hover {
  background-color: #ddd;
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput:focus-visible {
  outline: none;
}

.searchProjectTreeHeader .searchBarWrapper  button.executeSearchProjectTreeBtn span {
  font-size: 1.2em;
  padding: 0.65em 0.6em 0.71em 0.5em;
  color: #fff;
}

.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border: solid 1px #333;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

/* As executeSearchProjectTree is disabled, it's hover and focus code have been shelved for now. */

/* .searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:focus,
.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:hover {
  background-color: #fff;
  transition: background-color 0.2s,  
              border 0.2s,
              box-shadow 0.2s;
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
} */

/* .searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:focus span,
.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:hover span {
  outline: #111 solid 2px;
  outline-offset: -0.1em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: #111;
} */

.searchProjectTreeHeader .searchBarWrapper ul.projectTreeSearchResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  top: 2.5em;
  height: 70vh;
  max-width: 24.5em;
  width: 100%;
  margin: 0.25em 0em 0em 0em;
  background-color: none;
  overflow: auto;
  transition: height 0.3s ease;
}

.searchProjectTreeHeader .searchBarWrapper ul.projectTreeSearchResults.showingFullResults {
  height: 85vh;
  border-bottom: #111 1px dashed;
  scrollbar-width: 0;
  padding-bottom: 0.25em;
}

ul.projectTreeSearchResults.showingFullResults::-webkit-scrollbar {
  display: none;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 3em;
  width: 98%;
  gap: 0.5em;
  border: #333 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  list-style: none;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult:focus,
.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult:hover {
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
  animation: wiggleSeachResult 0.5s ease-in-out;
}

@keyframes wiggleSeachResult {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult .projectIcon {
  margin: 0.25em 0em 0.25em 0.75em;
  font-size: 1.2em;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult .projectTitle {
  flex-grow: 1;
  max-width: 19.5em;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.3em;
  text-overflow: ellipsis;
  text-align: left;
  cursor: pointer;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .showWeakMatchesBtn {
  display: flex;
  flex-direction: column;
  width: 5em;
  height: 3em;
  margin: 0.5em 0 0 0;
  padding: 0.5em 2em 1em 2em;
  border-radius: 0.5em;
  background-color: #333;
  border: 1px solid #777;
  cursor: pointer;
  overflow: hidden;
  transition: 
    height 0.3s ease,
    width  0.3s ease,
    padding  0.3s ease
    ;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .showWeakMatchesBtn:hover {
  height: 7em;
  width: 12em;
  padding: 1em 2em 1em 2em;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .showWeakMatchesBtn span {
  display: block;
  font-size: 1.1em;
  color: #fff;
  font-weight: bold;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .showWeakMatchesBtn > span:nth-child(n+2):nth-child(-n+3) {
  color: #333;
  opacity: 0;
  transition: 
    color 1s ease,
    opacity 0.1s ease;
  ;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .showWeakMatchesBtn:hover > span:nth-child(n+2):nth-child(-n+3) {
  color: #fff;
  opacity: 1;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .showWeakMatchesBtn span:first-of-type {
  font-size: 1.75em;
  margin: 0 0 0.1em 0;
}




