#homeView {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0 10vw 0 10vw ;
  overflow: auto;
}

#homeViewTitle {
  display: block;
  width: 100%;
  height: 1em;
  margin: 0.5em 0; 
  font-size: 1.5em;  
  text-align: left;
}

hr {
  width: 100%;
  margin: 0 0 0.5em 0;
  border: #111 dotted 1px;
}

#homeViewProjectsWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 1em;
  height: calc(100% - 1em);
  width: 100%;
  padding: 1em 1em 0 1em;
  overflow: auto;
}