/* Styles for Project Tiles, intended for project dashboard */

.projectTile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 12em;
  width: 12em;
  padding: 0 1em;
  background-color: #fff;
  border: #111 solid 1px;
  border-radius: 0.5em;
  transition: box-shadow 0.2s;
}

.projectTile:hover {
  cursor: pointer;
  box-shadow:     
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15);    
  transition: box-shadow 0.2s;
}

.projectTile .projectTitle {
  display: block;
  width: 100%;
  max-width: 100%;  
  height: 1.15em;
  margin: 0.5em 0;
  text-align: center;
  white-space: nowrap;           
  overflow: hidden;       
  text-overflow: ellipsis; 
  transition: font-size 0.2s, color 0.2s;
}

.projectTile .projectTitle .fa-folder {
  margin: 0 0.4em 0 0;
}

.projectTile .projectDescription {
  display: block;
  margin: 0 0 0.5em 0;
  height: 3.5em;
  text-align: left;
  font-size: 0.95em;
  overflow: hidden;       
  color: #666
}

/* Progress Bar styles: Includes text details */

.projectTile .progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}

.projectTile .progressBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 6;
  width: 100%;
}

.projectTile .progressBarBackground {
  display: block;
  width: 100%;
  height: 0.5em;
  background-color: #ddd;
  border-radius: 1em;
}

.projectTile .progressBarFill {
  display: block;
  width: 45%;
  height: 100%;
  background-color: #444;
  border-radius: 1em;
}

.projectTile .progressBarDetailsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 5;
  width: 100%;
}

.projectTile .progressBarLabelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.projectTile .progressBarLabel {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color:#aaa;
}

.projectTile .projectBarPercentageWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectTile .projectBarPercentage {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
  color:#111;
}

.projectTile .taskQuantityWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 2;
  height: 100%;
}

.projectTile .taskQuantity {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 0.8em; 
  font-style: italic;
  color:#888;
}

.projectTile .projectStatusWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 2;
  height: 100%;
}

.projectTile .projectStatusBubble {
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0;
  font-size: 0.8em;
  color:#333;
  border: none;
  border-radius: 1em;
}

.projectStatusBubble.statusShowingComplete {
  background-color: #b3f69f;
}

.projectStatusBubble.statusShowingPlanned {
  background-color: #4a97ca;
}

p.projectStatusBubble.statusShowingPlanned {
  color: #fff;
}

.projectStatusBubble.statusShowingInProgress {
  background-color: #e7f661;
}

.projectStatusBubble.statusShowingPaused {
  background-color: #ffbb61;
}

.projectStatusBubble.statusShowingDelayed {
  background-color: #e95e45;
}

.projectStatusBubble.statusShowingDead {
  background-color: #111;
}

p.projectStatusBubble.statusShowingDead {
  color: #fff;
}

/* Project Actions styles: Includes dropdown menu */

.projectTile .projectActionsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 1em;
  margin: 0 0 0.5em 0;
}

.projectTile .projectActions {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 2em;
  height: 100%;
  margin: 0.5em 0em;
  color: #666
}

.projectTile .projectActions span {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.projectTile .projectActions:hover span {
  background-color: #ddd;
  color: #fff;
  border-radius: 5px;
}

.projectTile .projectActionsDropDown {
  position: absolute;
  top: 1em;
  right: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border: #111 solid 1px;
  border-radius: 0.6em;
}

.projectTile .projectActions:hover .projectActionsDropDown {
  display: flex;
  z-index: 20;
}