.miniFormWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.miniForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24em;
  height: 12em;
  border-radius: 0.5em;
  background-color: #fff;
}

.miniFormMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 2em 0 0 0;
  padding: 0 1em 0 1em;
}

.miniFormMessage {
  width: 100%;
  color: #333;
  text-align: center;
  font-size: 1.4em;
}

.miniFormInput {
  height: fit-content;
}

i.confirmMiniFormRequest,
i.rejectMiniFormRequest {
  padding: 0.25em 0.5em 0.25em 0.5em;
  font-size: 1.15em;
  font-weight: bold;
  background-color: #444;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}

.miniFormButtons {
  height: 1.5em;
  margin: 0 0 2em 0;
}

i.confirmMiniFormRequest:hover,
i.rejectMiniFormRequest:hover {
  padding: 0.25em 0.5em 0.25em 0.5em;
  background-color: #fff;
  color: #333;
  border: solid 1px black;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}

i.rejectMiniFormRequest,
i.rejectMiniFormRequest:hover {
  /* reject 'X' fa-xmark icon needs more padding left and right than fa-check */
  padding: 0.25em 0.65em 0.25em 0.65em;
}

