.searchProjectTreeView {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  bottom: -100%; 
  left: 10vw;
  height: 90vh;
  width: 80vw;
  border: #111 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 
    0.25em 0.25em 0em rgb(221, 221, 221);
  transition: bottom 1.5s ease;
  z-index: 20;
}

@media (max-width: 1200px) {
  .searchProjectTreeView {
    width: 95vw;
    left: 2.5vw;
  }
}

.searchProjectTreeView.active {
  bottom: 4vh; /* slides up into view */
}

.searchProjectTreeHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: auto;
  width: 100%;
}

.searchProjectTreeHeader button {
  background-color: rgba(255, 255, 255, 0);
  margin: 1em 1em 1em 1em;
  border: none;
  border: 1em;
}

.searchProjectTreeHeader button:focus-visible {
  outline: none;
}

.searchProjectTreeHeader button.escapeSearchViewBtn i {
  padding: 0.25em 0.5em 0.25em 0.5em;
  font-size: 1.15em;
  font-weight: bold;
  background-color: #444;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}

.searchProjectTreeHeader i {
  height: 1.5em;
  margin: 0 0 2em 0;
}

.searchProjectTreeHeader button.escapeSearchViewBtn:focus i,
.searchProjectTreeHeader button.escapeSearchViewBtn:hover i {
  padding: 0.25em 0.65em 0.25em 0.65em;
  background-color: #fff;
  color: #333;
  border: solid 1px black;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}