.searchProjectTreeView {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  bottom: -100%; 
  left: 10vw;
  height: 98vh;
  width: 80vw;
  border: #111 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 
    0.25em 0.25em 0em rgb(221, 221, 221);
  transition: bottom 1.5s ease;
  z-index: 20;
}

@media (max-width: 1200px) {
  .searchProjectTreeView {
    width: 95vw;
    left: 2.5vw;
  }
}

.searchProjectTreeView.active {
  bottom: 1vh; /* slides up into view */
}

.searchProjectTreeHeader {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 25;
}

.searchProjectTreeHeader .searchBarWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  border: #333 solid 1px;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0);
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput {
  position: relative;
  margin: 0em 0em 0em 0em;
  height: 2.25em;
  width: 22em;
  text-indent: 1em;
  font-size: 1.1em;
  border: none;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: #fff;
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput:focus, 
.searchProjectTreeHeader .searchBarWrapper .searchBarInput:hover {
  background-color: #ddd;
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput:focus-visible {
  outline: none;
}

.searchProjectTreeHeader .searchBarWrapper  button.executeSearchProjectTreeBtn span {
  font-size: 1.2em;
  padding: 0.65em 0.6em 0.71em 0.5em;
  color: #fff;
}

.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border: solid 1px #333;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

/* As executeSearchProjectTree is disabled, it's hover and focus code have been shelved for now. */

/* .searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:focus,
.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:hover {
  background-color: #fff;
  transition: background-color 0.2s,  
              border 0.2s,
              box-shadow 0.2s;
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
} */

/* .searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:focus span,
.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:hover span {
  outline: #111 solid 2px;
  outline-offset: -0.1em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: #111;
} */

.searchProjectTreeHeader .searchBarWrapper ul.projectTreeSearchResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  top: 2.5em;
  height: auto;
  max-width: 24.25em;
  width: 100%;
  margin: 0.25em 0em 0em 0em;
  background-color: none;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 3em;
  width: 100%;
  gap: 0.5em;
  border: #333 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  list-style: none;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult:focus,
.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult:hover {
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
  animation: wiggleSeachResult 0.5s ease-in-out;
}

@keyframes wiggleSeachResult {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult .projectIcon {
  margin: 0.25em 0em 0.25em 0.75em;

  font-size: 1.2em;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult .projectTitle {
  flex-grow: 1;
  max-width: 22em;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.3em;
  text-overflow: ellipsis;
  text-align: left;
  cursor: pointer;
}

.searchProjectTreeHeader .escapeSearchViewBtn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  right: 1.25em;
  top: 1em;
  margin: 0em 0em 0em 0em;
  border: none;
  border: 1em;
}

.searchProjectTreeHeader .escapeSearchViewBtn:focus-visible {
  outline: none;
}

.searchProjectTreeHeader button.escapeSearchViewBtn span {
  display: block;
  padding: 0.25em 0.65em 1.2em 0.65em;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}
.searchProjectTreeHeader button.escapeSearchViewBtn span {
  height: 1.5em;
  margin: 0 0 2em 0;
}

.searchProjectTreeHeader button.escapeSearchViewBtn:focus span,
.searchProjectTreeHeader button.escapeSearchViewBtn:hover span {
  background-color: #fff;
  color: #333;
  border: solid 1px black;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}

.searchProjectTreeHeader button.openFilterPanelBtn {
  position: absolute;
  background-color: #333;
  left: 1.25em;
  top: 1em;
  margin: 0em 0em 0em 0em;
  padding: 0.15em 0.15em 0.15em 0.20em;
  border-radius: 1em;
  border: 1px solid #333;
  border: 1em;
  cursor: pointer;
  z-index: 30;
}

.searchProjectTreeHeader button.openFilterPanelBtn span {
  font-size: 1.3em;
  color: #fff;
}

.searchProjectTreeHeader button.openFilterPanelBtn:focus, 
.searchProjectTreeHeader button.openFilterPanelBtn:hover {
  animation: wiggleSeachResult 0.5s ease-in-out
}

.searchProjectTreeHeader button.openFilterPanelBtn:focus-visible {
  outline: none;
}

.searchProjectTreeHeader .filterPanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: none;
  left: 0.90em;
  top: 0.70em;
  gap: 0.5em;
  height: 0em;
  margin: 1.7em 0em 0em 0em;
  padding: 0.15em 0.15em 0.15em 0.20em;
  border-radius: 1em;
  border: 1px solid #333;
  border: 1em;
  overflow: hidden;
  z-index: 30;
  transition: height 0.5s ease;
}

.searchProjectTreeHeader .filterPanel.open {
  height: 10.5em;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn {
  position: relative;
  height: fit-content;
  width: fit-content;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1em;
  border: none;
  cursor: pointer;
}

.filterNodeBtn.crossed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;  /* match or slightly exceed SVG */
  height: 2px;  /* line thickness */
  background-color: #333;
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}

.filterNodeBtn.crossed.dead::after {
  background-color: #eee; /* dead exception */
  height: 3px;

}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn:focus-visible {
  outline: none;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn:focus, 
.searchProjectTreeHeader .filterPanel button.filterNodeBtn:hover {
  animation: wiggleSeachResult 0.5s ease-in-out;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.25),
    0 5px 8px rgba(0, 0, 0, 0.2);
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn svg.filterNodeIcon {
  display: block;
  height: 20px;
  width: 20px;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn svg.filterNodeIcon circle.circleIcon {
  stroke-width: 2;
  stroke: #333;
  r: 9;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn svg.filterNodeIcon circle.circleIcon.statusShowingComplete {
  fill: #b3f69f;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn svg.filterNodeIcon circle.circleIcon.statusShowingPlanned {
  fill: #4a97ca;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn svg.filterNodeIcon circle.circleIcon.statusShowingInProgress {
  fill: #e7f661;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn svg.filterNodeIcon circle.circleIcon.statusShowingPaused {
  fill: #ffbb61;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn svg.filterNodeIcon circle.circleIcon.statusShowingDelayed {
  fill: #e95e45;
}

.searchProjectTreeHeader .filterPanel button.filterNodeBtn svg.filterNodeIcon circle.circleIcon.statusShowingDead {
  fill: #111;
}

.searchProjectTreeView .searchProjectTreeViewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.searchProjectTreeView .searchProjectTreeCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  will-change: transform;
  transition: opacity 200ms ease;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeLine {
  stroke-width: 3;
  stroke: #333;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode {
  r: 12;
  stroke: #333;
  stroke-width: 3;
  cursor: pointer;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingComplete {
  fill: #b3f69f;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingPlanned {
  fill: #4a97ca;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingInProgress {
  fill: #e7f661;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingPaused {
  fill: #ffbb61;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingDelayed {
  fill: #e95e45;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.statusShowingDead {
  fill: #111;
}

.searchProjectTreeView .searchProjectTreeCanvas .projectTreeNode.theVirtualRoot {
  r: 20;
  stroke-width: 3;
  fill: white;
  stroke-dasharray: 8 4; 
}

.highlightNodeWrapper {
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  width: 1.2em;
  height: 1.2em;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 1em;
  transform: translate(calc(-50%), calc(-50%));
  pointer-events: none; /* so it doesn’t block clicks */
  animation: centerArrowFlash 0.3s infinite alternate;
  box-shadow: 
      0em 0em 0.1em #ff3f3f,   /* bright red */
      0em 0em 0.2em #ff7f50,   /* coral/orange */
      0em 0em 0.3em #ffd700,   /* gold */
      0em 0em 0.6em #32cd32,   /* lime green */
      0em 0em 0.9em #ff3f3f,   /* dodger blue */
      0em 0em 1.1em #8a2be2;   /* blue violet */
  z-index: 30;
}

.highlightNodeWrapper span {
  margin: 0 0 0 0em;
  color: #a3e2ce;
  font-size: 1.2em;
  transform: rotate(180deg);
}

/* Simple flashing animation */
@keyframes centerArrowFlash {
  0% { opacity: 0; }
  40% { opacity: 1;}
  50% { opacity: 1;}
  100% { opacity: 0; }
}


body .projectTilePopUp {
  display: block;
  position: absolute;
  height: 1em;
  width: auto;
  background-color: none;
  z-index: 35;
  cursor: pointer;
}

body .projectTilePopUp button.unTapeBtn {
  position: absolute;
  right: 0;
  top: -1em;
  height: auto;
  width: auto;
  padding: 0.25em 0.25em 0.15em 0.25em;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}

body .projectTilePopUp button.unTapeBtn:focus,
body .projectTilePopUp button.unTapeBtn:hover {
  background-color: #fff;
  color: #333;
  border: solid 1px black;
  cursor: pointer;
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}

body .projectTilePopUp button.unTapeBtn span {
  color: #fff;
  font-size: 1.1em;
}

body .projectTilePopUp button.unTapeBtn:focus span,
body .projectTilePopUp button.unTapeBtn:hover span {
  color: #333;
}

body .projectTilePopUp .projectTile {
  margin: 1em 0 0 0em;
}
