.searchProjectTreeView {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  bottom: -100%; 
  left: 10vw;
  height: 98vh;
  width: 80vw;
  border: #111 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  box-shadow: 
    0.25em 0.25em 0em rgb(221, 221, 221);
  transition: bottom 1.5s ease;
  z-index: 20;
}

@media (max-width: 1200px) {
  .searchProjectTreeView {
    width: 95vw;
    left: 2.5vw;
  }
}

.searchProjectTreeView.active {
  bottom: 1vh; /* slides up into view */
}

.searchProjectTreeHeader {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 25;
}

.searchProjectTreeHeader .searchBarWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  border: #333 solid 1px;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0);
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput {
  position: relative;
  margin: 0em 0em 0em 0em;
  height: 2.25em;
  width: 22em;
  text-indent: 1em;
  font-size: 1.1em;
  border: none;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  background-color: #fff;
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput:focus, 
.searchProjectTreeHeader .searchBarWrapper .searchBarInput:hover {
  background-color: #ddd;
}

.searchProjectTreeHeader .searchBarWrapper .searchBarInput:focus-visible {
  outline: none;
}

.searchProjectTreeHeader .searchBarWrapper  button.executeSearchProjectTreeBtn span {
  font-size: 1.2em;
  padding: 0.65em 0.6em 0.71em 0.5em;
  color: #fff;
}

.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  border: solid 1px #333;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}

/* As executeSearchProjectTree is disabled, it's hover and focus code have been shelved for now. */

/* .searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:focus,
.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:hover {
  background-color: #fff;
  transition: background-color 0.2s,  
              border 0.2s,
              box-shadow 0.2s;
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
} */

/* .searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:focus span,
.searchProjectTreeHeader .searchBarWrapper button.executeSearchProjectTreeBtn:hover span {
  outline: #111 solid 2px;
  outline-offset: -0.1em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: #111;
} */

.searchProjectTreeHeader .searchBarWrapper ul.projectTreeSearchResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  top: 2.5em;
  height: auto;
  max-width: 24.25em;
  width: 100%;
  margin: 0.25em 0em 0em 0em;
  background-color: none;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 2.5em;
  width: 100%;
  gap: 0.5em;
  border: #333 solid 1px;
  border-radius: 0.5em;
  background-color: #fff;
  list-style: none;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult:focus,
.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult:hover {
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
  animation: wiggleSeachResult 0.5s ease-in-out;
}

@keyframes wiggleSeachResult {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult .projectIcon {
  margin: 0.25em 0em 0.25em 0.75em;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult .projectTitle {
  flex-grow: 1;
  max-width: 22em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

/* Canned buttons in-line */

/* .searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult button {
  display: block;
  background-color: #fff;
  border: #ccc solid 1px;
  border-radius: 0.5em;
  cursor: pointer;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult button:hover,
.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult button:focus {
  display: block;
  background-color: #333;
  color: #fff;
  border-radius: 0.5em;
  cursor: pointer;
}

.searchProjectTreeHeader .searchBarWrapper .projectTreeSearchResults .projectTreeSearchResult button span {
  font-size: 1.2em;
  padding: 0.25em;
} */

.searchProjectTreeHeader .escapeSearchViewBtn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  right: 1.25em;
  top: 1em;
  margin: 0em 0em 0em 0em;
  border: none;
  border: 1em;
}

.searchProjectTreeHeader .escapeSearchViewBtn:focus-visible {
  outline: none;
}

.searchProjectTreeHeader button.escapeSearchViewBtn i {
  display: block;
  padding: 0.25em 0.65em 1.2em 0.65em;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #444;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}
.searchProjectTreeHeader button.escapeSearchViewBtn i {
  height: 1.5em;
  margin: 0 0 2em 0;
}

.searchProjectTreeHeader button.escapeSearchViewBtn:focus i,
.searchProjectTreeHeader button.escapeSearchViewBtn:hover i {
  background-color: #fff;
  color: #333;
  border: solid 1px black;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 
    0 0.125em 0.375em rgba(0, 0, 0, 0.1),         
    0 0.25em 0.75em rgba(0, 0, 0, 0.15); 
  transition: background-color 0.2s,  
              color 0.2s,
              border 0.2s,
              box-shadow 0.2s;
}

.searchProjectTreeView .searchProjectTreeViewport {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.searchProjectTreeView .searchProjectTreeCanvas {
  position: absolute;
  transform-origin: 0 0;
  will-change: transform;
}

.searchProjectTreeView .searchProjectTreeCanvas .treeNode {
  padding: 0.5em 1em;
  cursor: pointer;
}

.searchProjectTreeView .searchProjectTreeCanvas .treeChildren {
  margin-left: 16px;
}

.searchProjectTreeView .searchProjectTreeCanvas .treeLines {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
}

.searchProjectTreeView .searchProjectTreeCanvas .treeNodes {
  position: relative;
}

.searchProjectTreeView .searchProjectTreeCanvas .searchProjectTreeCanvas svg circle {
  transition: transform 0.2s, fill 0.2s;
}

.searchProjectTreeView .searchProjectTreeCanvas .searchProjectTreeCanvas svg circle:hover {
  fill: red;       /* highlight color */
  /* transform: scale(1.5); slightly bigger */
  cursor: pointer;
}